<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="InetBankingV1" parallel="tests" thread-count="3">
	<listeners>
		<listener class-name="com.Utilities.ReportTestListener"></listener>
	</listeners>
	
	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.TestCases.TC01_Login" />
		</classes>
	</test>

	<test name="IE Test">
		<parameter name="browser" value="ie" />
		<classes>
			<class name="com.TestCases.TC01_Login" />
		</classes>
	</test>

	<test name="FireFox Test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.TestCases.TC01_Login" />
		</classes>
	</test>

</suite>